// custom
* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body, html {
   height:100%;
}
a {
  padding: 0 10px;
  color: #393939;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all .3s;
  &:hover {
    color: #debe68;
    text-decoration: none;
  }
}
th, td {
  text-align: center;
  a {
    padding: 5px 15px;
    color: #debe68;
    background-color: #eee;
    border-radius: 5px;
    margin-right: 15px;
    transition: all .3s;
    &:hover {
      text-decoration: none;
      background-color: #fff;
      color: #debe68;
    }
  }
}
.title {
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
a.button {
  display: inline-block;
}
.button {
  // width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #393939;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  transition: all .3s;
  &:hover {
    background-color: #debe68;
    color: #fff;
    text-decoration: none;
  }
}
.btn {
  display: inline-block;
  height: 100%;
  padding: 10px;
  font-size: 15px;
  vertical-align: baseline;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.navbar {
  border: none;
  background-color: #393939;
  color: #ccc;
  border-radius: unset;
  a.navbar-brand {
    color: #eee;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 2px;
    transition: all .5s;
    &:hover {
      color: #debe68;
    }
  }
  li > a.admin {
    float: left;
    padding: 0 10px;
    line-height: 45px;
    color: #eee;
    transition: all .5s;
    &:hover {
      color: #debe68;
    }
  }
  .greet {
    float: left;
    margin: 0 10px;
    line-height: 45px;
    color: #eee;
  }
  li > a.nav-a {
    float: left;
    padding: 0 10px;
    color: #eee;
    line-height: 45px;
    text-decoration: none;
    transition: all .3s;
    &:hover {
      color: #debe68;
    }
  }
  .front-button {
    &:after {
      content: "|";
      padding: 0 10px;
      line-height: 43px;
    }
  }
}
.alert {
  text-align: center;
}
.pagination {
   > li {
     > a {
       border-color: #393939;
       background-color: #393939;
       color: #eee;
       transition: all .3s;
       &:hover {
         border-color: #222;
         background-color: #222;
         color: #debe68;
       }
     }
   }

  > .active {
    a {
      border-color: #aaa;
      background-color: #aaa;
      color: #393939;
      transition: all .3s;
      &:hover {
        border-color: #debe68;
        background-color: #debe68;
        color: #eee;
      }
    }
  }
}
.right {
  float: right;
  width: 25%;
  text-align: center;
  a {
    color: #7e7e7e;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .3s;
    &:hover {
      color: #debe68;
    }
  }
  a.front-a {
    &:after {
      content: "|";
      padding: 0 5px;
      color: #7e7e7e;
      line-height: 43px;
    }
  }
}
.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}
.restaurant-item img {
  max-height: 180px;
  width: 100%;
}
.restaurant-item .caption {
  padding: 10px;
}
.panel-default > .panel-heading {
  background-color: #393939;
  color: #ccc;
  letter-spacing: 2px;
}


//root
#root {
  .nav-tabs {
    margin-bottom: 40px;
  }
  .center {
    text-align: center;
    width: 80%;
    margin: 0 auto 30px;
  }
  li{
    float: left;
  }
  .option {
    a{
      margin: 0 15px;
      padding: 10px 10px;
      border-radius: 5px;
      color: #393939;
      background-color: #eee;
      text-decoration: none;
      letter-spacing: 1px;
      transition: all .3s;
      &:hover {
        color: #debe68;
        background-color: #393939;
        text-decoration: none;
      }
    }
    &.active {
      a {
        color: #debe68;
        background-color: #393939;
        text-decoration: none;
      }
    }
  }
}
//admin index view
#admin-index {
  .col-md-12 {
    padding: 0;
  }
  .small {
    width: 20%;
  }
}
// admin show
#show {
  h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .delete {
    a {
      padding: 0 10px;
      color: #ccc;
      &:hover {
        color: #debe68;
      }
    }
  }
  .img-responsive {
    max-width: 60%;
  }
  .text_muted {
    float: left;
  }
  .btn{
    float: right;
    margin-left: 10px;
  }
}
// admin catgory index
#category {
  padding-bottom: 285px;
  .col-md-4 {
    padding-right: 0;
  }
  .col-md-2 {
    padding-left: 0;
  }
  .pos {
    position: absolute;
    bottom: 0;
  }
  .new_category {
    position: relative;
  }
  .small {
    width: 50%;
    height: 34px;
    padding: 0px;
    margin-left: 5px;
  }

}
//profile show
#profile-show {
  hr {
    margin-bottom: 100px;
  }
  .profile {
    margin-top: 150px;
  }
  .title {
    margin: 0;
    text-align: left;
  }
  .button {
    margin-top: 10px;
  }
  .my-restaurant {
    float: left;
    padding: 0 8px;
    display: inline-block;
    text-align: center;
    img {
      width: 100px;
      height: 60px;
    }
  }
}
//feeds
#feeds {
  hr {
    margin: 10px 0;
  }
  p {
    color: #7e7e7e;
  }
  .title {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 15px;
    text-align: left;
  }
  .panel {
    a {
      padding: 0;
    }
  }
  .info {
    float: left;
    margin-bottom: 10px;
    .title {
      display: inline-block;
      margin: 0;
      text-align: left;
    }
    .subtitle {
      display: inline-block;
      margin-left: 5px;
    }
  }
}
// Dashboard
#dashboard {
  ul {
    margin: 100px auto 200px;
    li {
      padding: 0 30%;
      line-height: 30px;
      letter-spacing: 2px;
      font-size: 18px;
      &:before {
        content: "-";
        padding-right: 10px;
      }
    }
  }
  .button {
    display: block;
    width: 30%;
    margin: 0 auto 20px;
  }
}
// favorite
#favorite {
  hr {
    margin: 0;
  }
  .title {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: left;
    span {
      margin-left: 30px;
      font-size: 18px;
      color: #7e7e7e;
    }
  }
  .small-title {
    margin-top: 30px;
    a {
      padding: 0;
    }
  }
  .subtitle {
    width: 15%;
    color: #fff;
    border-radius: 4px;
    background-color: #393939;
    letter-spacing: 1px;
    text-align: center;
  }
  .content {
    margin-bottom: 40px;
  }
  .img {
    float: left;
    margin: 0;
    width: 20%;
  }
}
// foods expert
#foods-expert {
  hr {
    margin: 0;
    margin-bottom: 30px;
  }
  .title {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: left;
  }
  .col-md-3 {
    margin-bottom: 30px;
  }
  .object {
    text-align: center;
    p {
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  .img {
    max-height: 250px;
    margin-bottom: 10px;
  }
}
// register
#regist {
  margin-top: 170px;
  margin-bottom: 170px;
}
// login
#login {
  margin-top: 210px;
  margin-bottom: 220px;
}
// edit user
#edit-user {
  margin-top: 50px;
  margin-bottom: 50px;
}
//footer
#footer {
    width: 100%;
    padding: 50px 0;
    background: #393939;
    .copyright {
        float: left;
        .title {
            margin: 0;
            color: #eee;
            font-size: 14px;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: left;
        }
        .subtitle {
            color: #eee;
            font-size: 12px;
            letter-spacing: 2px;
            line-height: 1.5;
            text-transform: capitalize;
        }
    }
}
