<div id="root" class="container">
  <div class="row">
    <h1 class="title">前台網站</h1>
    <ul class="center">
      <li class="option"><%= link_to "全部分類", root_path %></li>
      <% @categories.each do |category| %>
        <li role="presentation" class="option <%= "active" if category == @category %>">
          <%= link_to category.name, category_path(category)%>
        </li>
      <% end %>
      <div class="clearfix"></div>
    </ul>
    <%= render partial: "shared/restaurant_list" %>
  </div>
</div>
